@{
	ViewData["Title"] = "Proxy Checker";
}

<div class="row match-height">

	<div class="col-xl-12 col-md-6 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Proxy Checker</h4>
			</div>
			<div class="card-body">
				<div class="mb-1">
					<label class="d-block form-label" for="validationBioBootstrap">Proxyler:</label>
					<textarea class="form-control" id="proxyListesi" name="validationBioBootstrap" rows="3" required="" style="height: 127px;"></textarea>
				</div>
				<hr />
				<div class="row justify-content-md-center">
					<div class="demo-inline-spacing justify-content-center">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Http" checked="">
							<label class="form-check-label" for="inlineRadio1">Https</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Socks4">
							<label class="form-check-label" for="inlineRadio2">Socks4</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Socks5">
							<label class="form-check-label" for="inlineRadio3">Socks5</label>
						</div>
					</div>
				</div>
				<hr />
				<div class="row text-center d-flex justify-content-center">
					<div class="col-12 p-1">
						<span class="badge badge-glow bg-warning">Kabul edilen form: IP-ADRESS:PORT</span>
					</div>
					<div class="col-12 pb-1">
						<span class="badge badge-glow bg-danger">Tek seferde max 10 adet limitli</span>
					</div>
					<hr />
					<button type="submit" id="checkButton" class="btn btn-primary waves-effect waves-float waves-light" style="width:250px">Kontrol Et</button>
				</div>
				<div id="panel" style="display:none">
				<div class="mb-1">
					<label class="d-block form-label" for="validationBioBootstrap">Kontrol edilmiş proxyler:</label>
					<label class="d-block form-label" for="validationBioBootstrap"><div id="sayacDis"><span style="color:cyan"><b><div id="sayac">- / -</div></b></span></div>
				</div></label>


				<textarea class="form-control" id="checkEdilenProxyler" name="validationBioBootstrap" required="" style="height: 127px;"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$(document).ready(function() {
			var metin = null;
			var sayi = 1;
			var toplamSayi = 1;
			$("#checkButton").click(function() {
                $("#checkButton").prop('disabled', true);
                $("#proxyListesi").prop('disabled', true);
				$("#panel").slideDown("slow");
				$("#checkEdilenProxyler").value = "";
				sayi = 1;
				toplamSayi = 1;
				var textAreaDeger = $("#proxyListesi")[0].value;
				var satirBol = textAreaDeger.split("\n");
                if (satirBol.length > 10) {
                    alert("Max 10 adet aynı anda kontrol edilebilir.")
                } else {
				var tur = $('input[name=inlineRadioOptions]:checked').val();
				toplamSayi = satirBol.length;
				metin = "0 / " + toplamSayi;
				$("#sayac").text(metin);
				$.each(satirBol, function(index, element) {
					setTimeout(() => {
						var ipPort = element;
						$.ajax({
							url: "@Url.Action("GetProxyChecker", "Api")",
							type: 'post',
							data: { ProxyIpPortData: ipPort, Tur: tur }
						}).done(function(r) {
							metin = sayi + " / " + toplamSayi;
							if (sayi == toplamSayi) {
								$("#checkButton").prop('disabled', false);
								$("#proxyListesi").prop('disabled', false);
								metin = "Bitti";
							}
							sayi = sayi + 1;
							$("#sayac").text(metin);
							if (r.error) {
								$("#checkEdilenProxyler").append("Bozuk: " + r.ip + " - " + r.error + "\n");
							} else {
								if (r.ip) {
									$("#checkEdilenProxyler").append("Çalışıyor: " + r.ip + "\n");
								}
							}
						}
						);
					}, 3000);
				})
				 }
			});
		});
	</script>
}